<table style="white-space: nowrap;">
<tr><td>Find: </td><td> <input type="text" dojoAttachPoint="replace_text" /></td></tr>
<tr><td>Replace with: </td><td> <input type="text" dojoAttachPoint="replace_text" /></td></tr>
<tr><td colspan='2'><table><tr><td><input type="checkbox" dojoType="CheckBox" dojoAttachPoint="replace_option_casesens" id="dojo_replace_option_casesens" />
		<label for="dojo_replace_option_casesens">Case Sensitive</label></td>
			<td><input type="checkbox" dojoType="CheckBox" dojoAttachPoint="replace_option_backwards" id="dojo_replace_option_backwards" />
		<label for="dojo_replace_option_backwards">Search Backwards</label></td></tr></table></td></tr>
<tr><td colspan=2">
	<table><tr>
	<td><button dojoType='Button' dojoAttachEvent='onClick:replace'>Replace</button></td>
	<td><button dojoType='Button' dojoAttachEvent='onClick:replaceAll'>Replace All</button></td>
	<td><button dojoType='Button' dojoAttachEvent='onClick:cancel'>Close</button></td>
	</tr></table>
	</td></tr>
</table>
