.dojoDocPane { padding:1em; font: 1em Georgia,Times,"Times New Roman",serif; }

.dojoDocPane .container{ }

.dojoDocPane .dialog{ }
.dojoDocPane .dialog .container{ padding: 0.5em; background: #fff; border: 2px solid #333; }
.dojoDocPane .dialog .docDialog{ background: transparent; width: 20em; }
.dojoDocPane .dialog .docDialog h2{ margin-top: 0; padding-top: 0; }
.dojoDocPane .dialog .docDialog input { float: right; margin-right: 1em; }
.dojoDocPane .dialog .docDialog p{ clear: both; }
#dojoDocUserName, #dojoDocPassword { width: 10em; }

.dojoDocPane .nav{ }
.dojoDocPane .nav span{ }

.dojoDocPane .detail{ }
.dojoDocPane .detail h1{ }
.dojoDocPane .detail h1 span.fn{ }
.dojoDocPane .detail .description{ }
.dojoDocPane .detail .params{ }
.dojoDocPane .detail .params .row{ }
.dojoDocPane .detail .params .row span{ }
.dojoDocPane .detail .variables{ }
.dojoDocPane .detail .variables .row{ }
.dojoDocPane .detail .signature{ }
.dojoDocPane .detail .signature .source{ white-space: pre; font: 0.8em Monaco, Courier, "Courier New", monospace; }
.dojoDocPane .detail .signature .source .return{ color:#369; }
.dojoDocPane .detail .signature .source .function{ color: #98543F; font-weight: bold; }
.dojoDocPane .detail .signature .source .params{ }
.dojoDocPane .detail .signature .source .params .type{ font-style: italic; color: #d17575; }
.dojoDocPane .detail .signature .source .params .name{ color: #d14040; }

.dojoDocPane .result{ }
.dojoDocPane .result h1{ }
.dojoDocPane .result .row{ }
.dojoDocPane .result .row .summary{ }

.dojoDocPane .package{ }
.dojoDocPane .package h1{ }
.dojoDocPane .package .row{ }
.dojoDocPane .package .row .summary{ }
.dojoDocPane .package .description{ }
.dojoDocPane .package .methods{ }
.dojoDocPane .package .methods h2{ }
.dojoDocPane .package .methods .row{ }
.dojoDocPane .package .methods .row .description{ }
.dojoDocPane .package .requires{ }
.dojoDocPane .package .requires h2{ }
.dojoDocPane .package .requires .row{ }
