<div class="EditorToolbarDomNode EditorToolbarSmallBg" 
	unselectable="on" dojoOnMouseDown="preventSelect">
	<table cellpadding="1" cellspacing="0" border="0">
		<tbody>
			<tr valign="top" align="left" dojoAttachPoint="oneLineTr">
				<td>
					<!-- bold -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="bold">
						<span title="Toggle Bold (Ctrl-B)" class="dojoE2TBIcon dojoE2TBIcon_Bold">&nbsp;</span>
					</span>
				</td>
				<td>
					<!-- italic -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="italic">
						<span title="Toggle Italic (Ctrl-I)" class="dojoE2TBIcon dojoE2TBIcon_Italic">&nbsp;</span>
					</span>
				</td>
				<td>
					<!-- underline -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="underline">
						<span title="Toggle Underline (Ctrl-U)" class="dojoE2TBIcon dojoE2TBIcon_Underline">&nbsp;</span>
					</span>
				</td>
				<td>
					<!-- link -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="createlink">
						<span title="Create Link" class="dojoE2TBIcon dojoE2TBIcon_Link">&nbsp;</span>
					</span>
				</td>
				<td>
					<!-- insertimage -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="insertimage">
						<span title="Insert Image" class="dojoE2TBIcon dojoE2TBIcon_Image">&nbsp;</span>
					</span>
				</td>
				<td>
					<!-- save -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="save">
						<span title="Save" class="dojoE2TBIcon dojoE2TBIcon_Save">&nbsp;</span>
					</span>
				</td>
				<td width="*">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>
