<div class="SC_Panel" style="width: 150px; height: 150px;">
<table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
<tbody>
<tr>
<td nowrap="">
	<div class="SC_Item" dropDownItemName="1">
	<font size="1">xx-small</font>
	</div>
	<div class="SC_Item" dropDownItemName="2">
	<font size="2">x-small</font>
	</div>
	<div class="SC_Item" dropDownItemName="3">
	<font size="3">small</font>
	</div>
	<div class="SC_Item" dropDownItemName="4">
	<font size="4">medium</font>
	</div>
	<div class="SC_Item" dropDownItemName="5">
	<font size="5">large</font>
	</div>
	<div class="SC_Item" dropDownItemName="6">
	<font size="6">x-large</font>
	</div>
	<div class="SC_Item" dropDownItemName="7">
	<font size="7">xx-large</font>
	</div>
</td>
</tr>
</tbody>
</table>
</div>