<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2002-2006 by OpenSymphony
  ~ All rights reserved.
  -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
	- Application context definition for "springapp" DispatcherServlet.
-->

<beans default-autowire="autodetect">
	<bean id="thingManager"
		class="com.opensymphony.webwork.portlet.example.spring.ThingManager">
	</bean>
	<bean id="springAction"
		class="com.opensymphony.webwork.portlet.example.spring.SpringAction" singleton="false">
		<property name="thingManager">
			<ref bean="thingManager" />
		</property>
	</bean>
</beans>
