# IDEA
.idea
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
.metadata/
Servers/

#VSCode
.vscode

# OSX
.DS_Store

# Scripts
*.sh

# jenv
.java-version

# Maven
core/target
plugins/convention/target
plugins/embeddedjsp/target
plugins/osgi/target
plugins/cdi/target
plugins/spring/target
plugins/jfreechart/target
apps/rest-showcase/target
apps/mailreader/target
apps/portlet/target
apps/blank/target
apps/jboss-blank/target
apps/mailreader/target
apps/portlet/target
apps/showcase/target
apps/target
bundles/admin/target
plugins/config-browser/target
plugins/jasperreports/target
plugins/json/target
plugins/portlet-tiles/target
plugins/portlet/target
plugins/sitegraph/target
plugins/sitemesh/target
plugins/javatemplates/target
bundles/demo/target
plugins/rest/target
plugins/plexus/target
plugins/testng/target
plugins/dwr/target
plugins/gxp/target
plugins/oval/target
plugins/junit/target
plugins/tiles/target
bundles/target
plugins/target
target
plugins/testng/test-output
