language: java
sudo: false

jdk:
  - openjdk7
  - oraclejdk8
  - oraclejdk9
  - oraclejdk11

install: true
script: ./mvnw test -DskipAssembly

after_success:
  # TODO delete following if statement after fix of https://github.com/cobertura/cobertura/issues/271
  - if [ "$TRAVIS_JDK_VERSION" == "openjdk8" ] || [ "$TRAVIS_JDK_VERSION" == "oraclejdk8" ]; then
      mvn cobertura:cobertura org.eluder.coveralls:coveralls-maven-plugin:report -Ptravis-coveralls -DskipAssembly;
    else
      echo "Not reporting coverage for $TRAVIS_JDK_VERSION due to incompatibility or to save performance";
    fi;

env:
  global:
    - secure: iI7IpfDtS+LUyS2yNuRCR3KelNyvBHuoMQ3gb1UNmR5SSL7jO/p3olQWrQROs28FJ+dpE3lHyIjoHrebKQGJHHAgTG2XWxn+G3fDsf+wSSFSLoDGj0o2SgGXooBbR2dccnNZHCyQaOyE2cIPWaOxrQZFE4No70LQB4mrP/gdkoc=

cache:
  directories:
    - $HOME/.m2
