<span class="comboBox" dojoAttachEvent="onClick: killEvent;">
	<input type="hidden" name="" value="" 
		dojoAttachPoint="comboBoxValue">
	<input type="hidden" name="" value="" 
		dojoAttachPoint="comboBoxSelectionValue">
	<table class="dojoComboBox"
		cellpadding="0"
		cellmargin="0"
		border="0"
		dojoAttachPoint="cbTableNode">
		<tr valign="top">
			<td>
				<input type="text" class="comboBoxInput"
					dojoAttachEvent="keyDown: onKeyDown; keyUp: onKeyUp;"
					dojoAttachPoint="textInputNode">
			</td>
			<td>
				<!-- FIXME: we need a simple way to make sure that relative
				location replacement gets done -->
				<img border="0" 
					hspace="0"
					vspace="0"
					dojoAttachPoint="downArrowNode"
					dojoAttachEvent="onMouseUp: handleArrowClick;"
					src="${dojoRoot}/src/widget/templates/images/combo_box_arrow.png">
			</td>
		</tr>
		<tr>
			<td class="comboBoxOptions" colspan="2">
				<div class="comboBoxOptions" dojoAttachPoint="optionsListNode"
					style="display: none; cursor: default;">
				</div>
			</td>
			<td>
			</td>
		</tr>
	</table>
</span>
