<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

    <bean id="storage" class="org.apache.struts.action2.showcase.application.MemoryStorage" singleton="true"/>

    <bean id="testDataProvider" class="org.apache.struts.action2.showcase.application.TestDataProvider" singleton="true" lazy-init="false"/>

    <bean id="skillDao" class="org.apache.struts.action2.showcase.dao.SkillDao"/>
    <bean id="employeeDao" class="org.apache.struts.action2.showcase.dao.EmployeeDao"/>

    <bean id="personManager" class="org.apache.struts.action2.showcase.person.PersonManager" singleton="true"/>
    
</beans>
