<form
#if ($parameters.namespace) namespace="$!parameters.namespace"                  #end
#if ($parameters.id)        id="$!webwork.htmlEncode($parameters.id)"           #end
#if ($parameters.name)      name="$!webwork.htmlEncode($parameters.name)"       #end
#if ($parameters.action)    action="$!webwork.htmlEncode($parameters.action)"   #end
#if ($parameters.target)    target="$!webwork.htmlEncode($parameters.target)"   #end
#if ($parameters.method)    method="$!webwork.htmlEncode($parameters.method)"   #end
#if ($parameters.enctype)   enctype="$!webwork.htmlEncode($parameters.enctype)" #end
#if ($parameters.cssClass)  class="$!webwork.htmlEncode($parameters.cssClass)"  #end
#if ($parameters.cssStyle)  style="$!webwork.htmlEncode($parameters.cssStyle)"  #end
>

