#if ($parameters.onclick)     onclick="$!webwork.htmlEncode($parameters.onclick)"         #end
#if ($parameters.ondblclick)  ondblclick="$!webwork.htmlEncode($parameters.ondblclick)"   #end
#if ($parameters.onmousedown) onmousedown="$!webwork.htmlEncode($parameters.onmousedown)" #end
#if ($parameters.onmouseup)   onmouseup="$!webwork.htmlEncode($parameters.onmouseup)"     #end
#if ($parameters.onmouseover) onmouseover="$!webwork.htmlEncode($parameters.onmouseover)" #end
#if ($parameters.onmousemove) onmousemove="$!webwork.htmlEncode($parameters.onmousemove)" #end
#if ($parameters.onmouseout)  onmouseout="$!webwork.htmlEncode($parameters.onmouseout)"   #end
#if ($parameters.onfocus)     onfocus="$!webwork.htmlEncode($parameters.onfocus)"         #end
#if ($parameters.onblur)      onblur="$!webwork.htmlEncode($parameters.onblur)"           #end
#if ($parameters.onkeypress)  onkeypress="$!webwork.htmlEncode($parameters.onkeypress)"   #end
#if ($parameters.onkeydown)   onkeydown="$!webwork.htmlEncode($parameters.onkeydown)"     #end
#if ($parameters.onkeyup)     onkeyup="$!webwork.htmlEncode($parameters.onkeyup)"         #end
#if ($parameters.onselect)    onselect="$!webwork.htmlEncode($parameters.onselect)"       #end
#if ($parameters.onchange)    onchange="$!webwork.htmlEncode($parameters.onchange)"       #end
