<div align="center"> 
       <input type="checkbox" 
              name="$!struts.htmlEncode($parameters.name)"
              value="$!struts.htmlEncode($parameters.fieldValue)"
       #if ($parameters.nameValue) checked="checked" #end 
       #if ($parameters.disabled == true) disabled="disabled" #end 
       #if ($parameters.tabindex) tabindex="$!struts.htmlEncode($parameters.tabindex)" #end
       #if ($parameters.onchange) onchange="$!struts.htmlEncode($parameters.onchange)" #end
       #if ($parameters.id) id="$!struts.htmlEncode($parameters.id)" #end
       /><br /> 
       $!struts.htmlEncode($parameters.label) 
</div>
