#*
 * $Id$
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *#
<input type="text"
                                   name="$!struts.htmlEncode($parameters.name)"
#if ($parameters.size)             size="$!struts.htmlEncode($parameters.size)"            #end
#if ($parameters.maxlength)        maxlength="$!struts.htmlEncode($parameters.maxlength)"  #end
#if ($parameters.nameValue)        value="$!struts.htmlEncode($parameters.nameValue)"      #end
#if ($parameters.disabled && $parameters.disabled == true)
                                   disabled="disabled"                                      #end
#if ($parameters.readonly)         readonly="readonly"                                      #end
#if ($parameters.tabindex)         tabindex="$!struts.htmlEncode($parameters.tabindex)"    #end
#if ($parameters.id)               id="$!struts.htmlEncode($parameters.id)"                #end
#if ($parameters.cssClass)         class="$!struts.htmlEncode($parameters.cssClass)"       #end
#if ($parameters.cssStyle)         style="$!struts.htmlEncode($parameters.cssStyle)"       #end
#parse("/$parameters.templateDir/simple/scripting-events.vm")
/>
