<div class="SC_Panel" style="width: 190px; height: 150px;">
	<div class="SC_Item" dropDownItemName="p">
		<div class="BaseFont">
			<p>Normal</p>
		</div>
	</div>
	<div class="SC_Item" dropDownItemName="div">
		<div class="BaseFont">
			<div>Normal (DIV)</div>
		</div>
	</div>
	<div class="SC_Item" dropDownItemName="pre">
		<div class="BaseFont">
			<pre>Formatted</pre>
		</div>
	</div>
	<div class="SC_Item" dropDownItemName="address">
		<div class="BaseFont">
			<address>Address</address>
		</div>
	</div>
	<div class="SC_Item" dropDownItemName="h1">
		<div class="BaseFont">
			<h1>Heading 1</h1>
		</div>
	</div>
	<div class="SC_Item" dropDownItemName="h2">
		<div class="BaseFont">
			<h2>Heading 2</h2>
		</div>
	</div>
	<div class="SC_Item" dropDownItemName="h3">
		<div class="BaseFont">
			<h3>Heading 3</h3>
		</div>
	</div>
	<div class="SC_Item" dropDownItemName="h4">
		<div class="BaseFont">
			<h4>Heading 4</h4>
		</div>
	</div>
	<div class="SC_Item" dropDownItemName="h5">
		<div class="BaseFont">
			<h5>Heading 5</h5>
		</div>
	</div>
	<div class="SC_Item" dropDownItemName="h6">
		<div class="BaseFont">
			<h6>Heading 6</h6>
		</div>
	</div>
</div>