<div align="center"> 
       <input type="text" 
              name="$!struts.htmlEncode($parameters.name)"
       #if ($parameters.size) size="$!struts.htmlEncode($parameters.size)" #end
       #if ($parameters.maxlength) maxlength="$!struts.htmlEncode($parameters.maxlength)" #end
       #if ($parameters.nameValue) value="$!struts.htmlEncode($parameters.nameValue)" #end
       #if ($parameters.disabled == true) disabled="disabled" #end 
       #if ($parameters.readonly) readonly="readonly" #end 
       #if ($parameters.onkeyup) onkeyup="$!struts.htmlEncode($parameters.onkeyup)" #end
       #if ($parameters.tabindex) tabindex="$!struts.htmlEncode($parameters.tabindex)" #end
       #if ($parameters.onchange) onchange="$!struts.htmlEncode($parameters.onchange)" #end
       #if ($parameters.id) id="$!struts.htmlEncode($parameters.id)" #end
       /><br /> 
       $!struts.htmlEncode($parameters.label)
</div>
