#*
 * $Id$
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *#
<div class="tab_contents_header" id="tab_contents_${parameters.id}">
    <div class="tab_contents"
         id="tab_contents_update_${parameters.id}"
	 #if ($parameters.remote)
	      dojoType='BindDiv'
	      #if ($parameters.href) href="$!struts.htmlEncode($parameters.href)" #end
	      #if ($parameters.loadingText) loadingHtml="$!struts.htmlEncode($parameters.loadingText)" #end
	      #if ($parameters.errorText) errorHtml="$!struts.htmlEncode($parameters.errorText)" #end
	      #if ($parameters.showErrorTransportText) showTransportError="true" #end
	      #if ($parameters.delay) delay="$!parameters.delay" #end
	      #if ($parameters.updateFreq) refresh="$!parameters.updateFreq" #end
	      #if ($parameters.listenTopics) listenTopics="$!struts.htmlEncode($parameters.listenTopics)" #end
	      #if ($parameters.afterLoading) onLoad="$!struts.htmlEncode($parameters.afterLoading)" #end
     #end
 	 #if ($parameters.cssClass) class="$!struts.htmlEncode($parameters.cssClass)" #end
	 #if ($parameters.cssStyle) style="$!struts.htmlEncode($parameters.cssStyle)" #end
      >
