<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <display-name>Acme Corp</display-name>

    <filter>
        <filter-name>action2</filter-name>
        <filter-class>org.apache.struts.action2.dispatcher.FilterDispatcher</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>action2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--
        This typically isn't required, as the taglib is included in struts-action-2.0.jar.
        If you really need a taglib configuration within web.xml, copy struts/src/java/META-INF/taglib.tld
        to the WEB-INF directory as struts-action.tld.
     -->
    <!--taglib>
        <taglib-uri>struts-action</taglib-uri>
        <taglib-location>/WEB-INF/struts-action.tld</taglib-location>
    </taglib-->
</web-app>
