<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--
	- Application context definition for "springapp" DispatcherServlet.
-->

	<bean id="thingManager"
		class="org.apache.struts2.portlet.example.spring.ThingManager">
	</bean>

	<bean id="springAction"
		  class="org.apache.struts2.portlet.example.spring.SpringAction" scope="prototype">
		<property name="thingManager">
			<ref bean="thingManager" />
		</property>
	</bean>
</beans>
