<table style="white-space: nowrap;">
<tr><td colspan='2'>Find: <input type="text" dojoAttachPoint="find_text" /></td></tr>
<tr><td><input type="checkbox" dojoType="CheckBox" dojoAttachPoint="find_option_casesens" />
		<label for="find_option_casesens">Case Sensitive</label></td>
			<td><input type="checkbox" dojoType="CheckBox" dojoAttachPoint="find_option_backwards" />
		<label for="find_option_backwards">Search Backwards</label></td></tr>
<tr><td style="display: none;"><input type="checkbox" dojoType="CheckBox" dojoAttachPoint="find_option_wholeword" />
		<label for="find_option_wholeword">Whole Word</label></td>
<tr><td colspan="1">
	<table><tr>
	<td><button dojoType='Button' dojoAttachEvent='onClick:find'>Find</button></td>
	<td><button dojoType='Button' dojoAttachEvent='onClick:cancel'>Close</button></td>
	</tr></table>
	</td></tr>
</table>