<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="autodetect">

    <bean id="catalog"
          singleton="true"
          class="org.apache.struts2.example.ajax.catalog.TestCatalog" />

    <bean id="shoppingCart"
          singleton="true"
          class="org.apache.struts2.example.ajax.cart.DefaultCart" />


</beans>
