/*
 * $Id: pom.xml 560558 2007-07-28 15:47:10Z apetrelli $
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.tab_header {
	position: relative;
	width: 100%;
	height: 3em;
	width: 30em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

.tab_header_main {
    list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

.tab_header_main a {
    display:block;
    text-decoration:none;
    padding:2px 0 5px;
    color: #FFFFFF
}

.tab_selected, .tab_unselected, .tab_unselected_over {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	list-style: none;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

.tab_selected {
/*	border: 1px solid #666; */
	border-bottom: none;
	background: #999999;
	padding-bottom: 6px;
	margin-top: 0;
	font-weight:bold;
}

.tab_unselected, .tab_unselected_over {
	background: #A5A5A5;
/*	border: 1px solid #AAA; */
	border-bottom: none;
	font-weight:normal;
}

.tab_unselected_over {
	margin-top: 0;
/*	border-color: #666; */
	background: #AAAAAA;
	padding-bottom: 5px;
	font-weight:normal;
}

.tab_contents_header {
/*	border: 2px solid #666; */
    display: block;
	clear: both;
	background: #999999;
	padding: 2px;
}

.tab_contents {
	padding: 1.5em;
	display: block;
	background: #DDDDDD;
	min-height: 300px;
}

.tab_contents_hidden  {
	display: none;
}
