.toolbarContainer {
	border-bottom : 0;
	background-color : #def;
	color : ButtonText;
	font : Menu;
	background-image: url(images/toolbar-bg.gif);
}

.toolbar {
	padding : 2px 4px;
	min-height : 26px;
	_height : 26px;
}

.toolbarItem {
	float : left;
	padding : 1px 2px;
	margin : 0 2px 1px 0;
	cursor : pointer;
	/* border : 1px solid #def; */
}

.toolbarItem.selected, .toolbarItem.down {
	margin : 1px 1px 0 1px;
	border-color : #bbf;
	background-color : #fafaff;
}

.toolbarButton img {
	vertical-align : bottom;
}

.toolbarButton span {
	line-height : 16px;
	vertical-align : middle;
}

.toolbarButton.hover {
	border-color : #bbf;
}

.toolbarItem.disabled {
	opacity : 0.3;
	filter : alpha(opacity=30);
	cursor : default;
}

.toolbarSeparator {
	cursor : default;
}

.toolbarFlexibleSpace {
}
