input.comboBoxInput {
	font-size: 0.8em;
	border: 0px;
}

td.comboBoxOptions {
	position: relative; 
	overflow: visible; 
	height: 1px;
}

div.comboBoxOptions {
	font-family: Verdana, Helvetica, Garamond, sans-serif;
	font-size: 0.7em;
	background-color: white;
	/* border: 1px solid black; */
	border: 1px solid #afafaf;
	/* padding: 2px; */
	position: absolute;
	/* FIXME: we probably need an iframe underlay on IE to prevent windowed controls from bleeding through */
	z-index: 1000; 
	overflow: auto;
	-moz-opacity: 0;
}

table.dojoComboBox {
	border: 1px solid #afafaf;
}

.cbItem {
	padding-left: 2px;
	padding-top: 2px;
	margin: 0px;
}

.cbItemEven {
	background-color: #f4f4f4;
}

.cbItemOdd {
	background-color: white;
}

.cbItemHighlight {
	background-color: #63709A;
	color: white;
}
