#if ($parameters.onclick)     onclick="$!struts.htmlEncode($parameters.onclick)"         #end
#if ($parameters.ondblclick)  ondblclick="$!struts.htmlEncode($parameters.ondblclick)"   #end
#if ($parameters.onmousedown) onmousedown="$!struts.htmlEncode($parameters.onmousedown)" #end
#if ($parameters.onmouseup)   onmouseup="$!struts.htmlEncode($parameters.onmouseup)"     #end
#if ($parameters.onmouseover) onmouseover="$!struts.htmlEncode($parameters.onmouseover)" #end
#if ($parameters.onmousemove) onmousemove="$!struts.htmlEncode($parameters.onmousemove)" #end
#if ($parameters.onmouseout)  onmouseout="$!struts.htmlEncode($parameters.onmouseout)"   #end
#if ($parameters.onfocus)     onfocus="$!struts.htmlEncode($parameters.onfocus)"         #end
#if ($parameters.onblur)      onblur="$!struts.htmlEncode($parameters.onblur)"           #end
#if ($parameters.onkeypress)  onkeypress="$!struts.htmlEncode($parameters.onkeypress)"   #end
#if ($parameters.onkeydown)   onkeydown="$!struts.htmlEncode($parameters.onkeydown)"     #end
#if ($parameters.onkeyup)     onkeyup="$!struts.htmlEncode($parameters.onkeyup)"         #end
#if ($parameters.onselect)    onselect="$!struts.htmlEncode($parameters.onselect)"       #end
#if ($parameters.onchange)    onchange="$!struts.htmlEncode($parameters.onchange)"       #end
