<label
#if ($parameters.id)               id="$!struts.htmlEncode($parameters.id)"                #end
#if ($parameters.cssClass)         class="$!struts.htmlEncode($parameters.cssClass)"       #end
#if ($parameters.cssStyle)         style="$!struts.htmlEncode($parameters.cssStyle)"       #end
#if ($parameters.for)              for="$!struts.htmlEncode($parameters.for)"              #end
>#if ($parameters.nameValue)$!struts.htmlEncode($parameters.nameValue)#end</label>
